*{
 font-family: 'Nunito', sans-serif;
}

.img-bike{
    width: 80px;
}
.bg-bike{
 background-color: rgb(212, 58, 63);
}

.about-img{
    background-image: url('../assets/image/portada.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
   }
   .row.redes {
    margin-top: -40px;
}

.navbar-toggler-icon {
    width: 1.2em;
    height: 1.8em;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    list-style: none;
    display: inline-block;
}

.bg-grey {
    background-color: #D6D6D6;
}

.bg-red {
    background-color: #DE1E26!important;
}

#map {
    width: 100%;
    height: 50vh;
}

.border-right {
    border-right: 1px solid black!important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../assets/icons/bars-icon.png");
}

.navbar-toggler-icon {
    width: 1.2em;
    height: 1.3em;
}

.bicycle-icon{
    width: 15%;
}

.img-input {
    width: 2rem;
}

.input-group-text{
    padding: 0!important;
    background-color: white;
    border: 1px solid black;
}

.form-control{
    border: 1px solid black;
}

footer{
    bottom: 0;
}

footer img {
    width: 5rem;
}
@media (min-width: 700px){
    
}