*{
 font-family: 'Nunito', sans-serif;
}

.img-bike{
    width: 80px;
}
.bg-bike{
 background-color: rgb(212, 58, 63);
}

.about-img{
    background-image: url('assets/image/portada.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
   }
   